header {
    background-image: linear-gradient(to right, rgb(59, 32, 104) , rgb(71, 184, 155));
    height: 60px;
    display: flex;
    align-items: center;
}

.dsmovie-nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.dsmovie-nav-content h1 {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
}

.dsmovie-contact-container {
    display: flex;
    align-items: center;
    color: #fff;
}

.dsmovie-contact-link {
    margin: 0 0 0 10px;
    font-size: 12px;
}